<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<style>
    
</style>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/upload">News</a>
    </div>

    <div class="upload-file-container">
        <form method="post" action="/upload-profile-pic" enctype="multipart/form-data">
            <div>
                <label>Avatar:</label>
                <input type="file" name="profile_pic">
            </div>
            
            <div>
                <button type="submit">save</button>
            </div>
        </form>
    </div>
</body>
</html>